.button {
  width: 20px;
  font-size: 0.8em;
  font-family: sans-serif;
  font-stretch: condensed;
  /* vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center; */
}

#output {
  border: 2px solid gold;
margin-left: 1px;
margin-right: 1px;
  width: 118px;
}

#calculatorContainer{
  text-align: center;
  margin-top: 10%;
}

#calculator{
  border: 5px solid silver;
  background-color: #0074D9;
  display: inline-block;
  text-align: left;
}
